* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: linear-gradient(rgb(69, 23, 112), rgb(138, 58, 138), rgb(69, 23, 112));
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    height: 500px; 

}

.img1 {
    width: 200px;
    border: 5px solid rgb(138, 58, 138);
    border-radius: 110px ; 
}

.apresentacao {
    display: flex;
}

.apresentacao img {
    width: 500px;
    margin: 0px 25px;
    border-radius: 40px;
    box-shadow: 10px 0px 20px black;
}

.apresentacao p {
    padding: 0px 25px 15px 15px;
    text-align: justify;
    font-size: 20px;
}

header nav ul li {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: inline;
    padding: 20px;
}

header nav {
    padding: 50px;
}

header nav ul a {
    text-decoration: none;  
}

header nav ul a li:hover {
    color: black;
    background-color: aliceblue;
    transition: 1s;
}

.textoApresentacao {
    padding: 0px 25px 15px 15px;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

main h1 {
    text-align: center;
    padding: 25px 0px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 3px 15px black;
    font-family:'Times New Roman', Times, serif;
}

.card-header{
    color:rgb(138, 58, 138) ;
    background-color: black;
    border: 1px solid #FFF
}

.card-body{
    background-color: rgb(59, 59, 59);
    border: 1px solid #FFF
}

.card {
    float: left;
    border: 0;
    width: 180px;
}

footer{
    margin-top: 50px;
    padding: 75px 200px 75px 200px;
    background-color: black;
    text-align: center;
    color: aliceblue;
}

.linkEtec{
    color: blue;
    text-decoration: underline;
}
